<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="warn" name="rlgagent" packages="">
    <!-- Logging Properties -->
    <Properties>
        <Property name="LOG_PATTERN">%d{yyMMdd HH:mm:ss.SSS}[%-5level] %m%n</Property>
        <!--        The workspace parameter has to be passed via the command line. example: -Dworkspace=/Users/tloehr/ag01. The default value is always the rlgagent/logs directory in the homedir. -->
        <Property name="APP_LOG_ROOT">${sys:workspace}/logs</Property>
<!--        <Property name="APP_LOG_ROOT">${sys:user.home}${sys:file.separator}${sys:agentname}/logs</Property>-->
    </Properties>

    <Appenders>
        <Console name="STDOUT" target="SYSTEM_OUT">
            <PatternLayout pattern="${LOG_PATTERN}"/>
        </Console>

        <RollingFile
                name="RollingFile"
                fileName="${APP_LOG_ROOT}/rlgagent.log"
                filePattern="${APP_LOG_ROOT}/%d{yyyy-MM-dd}.rlgagent.log.gz"
                ignoreExceptions="false">
            <PatternLayout pattern="${LOG_PATTERN}"/>
            <!--            Rolling over every day-->
            <Policies>
                <TimeBasedTriggeringPolicy interval="1"/>
            </Policies>
            <DefaultRolloverStrategy max="5"/>
        </RollingFile>

    </Appenders>
    <Loggers>
        <Root level="${sys:loglevel:-DEBUG}">
            <AppenderRef ref="RollingFile"/>
            <AppenderRef ref="STDOUT"/>
        </Root>
    </Loggers>
</Configuration>
