<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="warn" name="rlgagent" packages="">
    <!-- Logging Properties -->
    <Properties>
        <Property name="LOG_PATTERN">%d{yyyy-MM-dd'T'HH:mm:ss.SSSZ} [%t] %p %m%n</Property>
        <Property name="APP_LOG_ROOT">${sys:workspace}/logs</Property>
    </Properties>

    <Appenders>

<!--        <File name="MyFile" fileName="${APP_LOG_ROOT}/rlgagent.log">-->
        <!--            <PatternLayout pattern="${LOG_PATTERN}"/>-->
        <!--        </File>-->

        <Console name="STDOUT" target="SYSTEM_OUT">
            <PatternLayout pattern="${LOG_PATTERN}"/>
        </Console>

        <!--        <RollingFile name="RollingFile" fileName="${APP_LOG_ROOT}/app.log">-->
        <!--            <PatternLayout pattern="${LOG_PATTERN}"/>-->
        <!--            <SizeBasedTriggeringPolicy size="5 KB"/>-->
        <!--            <DefaultRolloverStrategy max="3"/>-->
        <!--        </RollingFile>-->


        <RollingFile
                name="RollingFile"
                fileName="${APP_LOG_ROOT}/rlgagent.log"
                filePattern="${APP_LOG_ROOT}/rlgagent.%i.log.gz"
                ignoreExceptions="false">
            <PatternLayout pattern="${LOG_PATTERN}"/>
            <Policies>
                <SizeBasedTriggeringPolicy size="1MB"/>
            </Policies>
            <DefaultRolloverStrategy max="5"/>
        </RollingFile>

    </Appenders>
    <Loggers>
        <Root level="debug">
<!--            <AppenderRef ref="MyFile"/>-->
            <AppenderRef ref="RollingFile"/>
            <AppenderRef ref="STDOUT"/>
        </Root>
    </Loggers>
</Configuration>
