<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="warn" name="rlgagent" packages="">
    <!-- Logging Properties -->
    <Properties>
        <!--  %C Outputs the fully qualified class name of the caller issuing the logging request. This conversion specifier can be optionally followed by precision specifier, that follows the same rules as the logger name converter.
        Generating the class name of the caller (location information) is an expensive operation and may impact performance. Use with caution. -->
        <Property name="LOG_PATTERN">%d{yyMMdd HH:mm:ss.SSS}[%-5level] %m%n</Property>
        <!--        The workspace parameter has to be passed via the command line. example: -Dworkspace=/Users/tloehr/ag01. The default value is always the rlgagent/logs directory in the homedir. -->
        <Property name="APP_LOG_ROOT">${sys:workspace}/logs</Property>
        <!--        <Property name="APP_LOG_ROOT">${sys:user.home}${sys:file.separator}${sys:agentname}/logs</Property>-->
    </Properties>

    <Appenders>
        <Console name="STDOUT" target="SYSTEM_OUT">
            <PatternLayout pattern="${LOG_PATTERN}"/>
        </Console>

        <RollingFile
                name="RollingFile"
                fileName="${APP_LOG_ROOT}/rlgagent.log"
                filePattern="${APP_LOG_ROOT}/%d{yyyy-MM-dd}.rlgagent.log.gz"
                ignoreExceptions="false">
            <PatternLayout pattern="${LOG_PATTERN}"/>
            <!--            Rolling over every day-->
            <Policies>
                <TimeBasedTriggeringPolicy interval="1"/>
            </Policies>
            <DefaultRolloverStrategy max="5"/>
        </RollingFile>

    </Appenders>
    <Loggers>
        <Logger name="org.quartz" level="INFO" additivity="false">
            <AppenderRef ref="STDOUT"/>
        </Logger>
        <Root level="${sys:loglevel:-INFO}">
            <AppenderRef ref="RollingFile"/>
            <AppenderRef ref="STDOUT"/>
        </Root>
    </Loggers>
</Configuration>
